version: "3.8"

x-chatwoot-build: &chatwoot_build
  context: .
  dockerfile: ./docker/Dockerfile
  args:
    RAILS_ENV: "production"
    BUNDLE_WITHOUT: "development:test"
    EXECJS_RUNTIME: "Node"
    RAILS_SERVE_STATIC_FILES: "true"

x-chatwoot-env: &chatwoot_env
  FRONTEND_URL: ${FRONTEND_URL}
  SECRET_KEY_BASE: ${SECRET_KEY_BASE}

  NODE_ENV: "production"
  RAILS_ENV: "production"
  INSTALLATION_ENV: "docker"
  CW_EDITION: "ce"

  POSTGRES_HOST: "postgres"
  POSTGRES_DATABASE: "chatwoot"
  POSTGRES_USERNAME: "postgres"
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  REDIS_PASSWORD: ${REDIS_PASSWORD}
  REDIS_URL: redis://:${REDIS_PASSWORD}@redis:6379

  FORCE_SSL: "true"
  ACTIVE_STORAGE_SERVICE: "local"
  RAILS_LOG_TO_STDOUT: "true"
  LOG_LEVEL: "info"
  ENABLE_ACCOUNT_SIGNUP: "false"
  MAILER_SENDER_EMAIL: ${MAILER_SENDER_EMAIL}

services:
  rails:
    image: chatwoot-custom:latest
    build: *chatwoot_build
    environment: *chatwoot_env
    depends_on:
      - postgres
      - redis
    entrypoint: docker/entrypoints/rails.sh
    command: ["bundle", "exec", "rails", "s", "-p", "3000", "-b", "0.0.0.0"]
    expose:
      - "3000"
    restart: unless-stopped
    volumes:
      - storage_data:/app/storage

  sidekiq:
    image: chatwoot-custom:latest
    build: *chatwoot_build
    environment: *chatwoot_env
    depends_on:
      - postgres
      - redis
    command: ["bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml"]
    restart: unless-stopped
    volumes:
      - storage_data:/app/storage

  postgres:
    image: pgvector/pgvector:pg16
    restart: unless-stopped
    environment:
      POSTGRES_DB: "chatwoot"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: unless-stopped
    command: ["sh", "-c", "redis-server --requirepass \"$REDIS_PASSWORD\""]
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  storage_data:
  postgres_data:
  redis_data:
